.btn {
    border: none;
    border-radius: 3px;
    text-decoration: none;
    font-size: 12px;
    background-color: darkgreen;
    padding: 1rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase
}